---
# Main styles
---

$color-text: #333;
$color-light: #000;

html {
  background: #fff;
}

body {
  font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: $color-text;
  font-size: 1em;
  line-heght: 1.2em;
  margin: 10%;
}
h1 {
  font-weight: bold;
  letter-spacing: 0.1em;
  font-size: 1.75em;
  margin: 1em 0;
  color: $color-text;
  text-transform: uppercase;
}
h2 {
  color: $color-light;
  font-weight: normal;
  font-size: 1.5em;
  margin: 1em;
}
p {
  margin: 0.7em 0;
}
a, em {
  color: $color-light;
  font-style: normal;
}
a:hover {
  text-decoration: none;
}
